<div id="news">

  <div class="page-title">
    <h1>News</h1>
  </div>

  <div class="show-article">
    <div class="show-listing">
      <h2>We're in the studio!</h2>
      <p>We're currently producing and recording our debut EP. Stay tuned...</p>
      <div class="news-image"> <%= image_tag (path_to_image("dartboi_studio.jpg")) %> </div>
    </div>
  </div>

  <div class="show-article">
    <% if Show.any? %>
    <div class="show-listing">
      <h2>We have a show coming up real soon..</h2>
        <div class="date">
          <%= @show.date.strftime("%A, %B %e, %Y") %>
        </div>
        <div class="show-city">
          <%= @show.city %>
        </div>
        <div class="show-location">
          <%= @show.location %>
        </div>
        <div class="show-price">
          <%= @show.price %>
        </div>
        <div class="location-image">
          <%= link_to image_tag(@show.image_url), @show.venue_url %>
        </div>
        <div class="show-link">
          <%= link_to "Check it out", @show.event_url %>
        </div>
      </div>
    <% end %>
  </div>

<div>
