<div id="shows">

  <div class="page-title">
    <h1>Shows</h1>
  </div>

    <% unless Show.any? %>
      <h2>We have no upcoming shows..</h2>
    <% else %>
      <div class="show-article">
        <% @shows.each do |show| %>
          <div class="show-listing">
            <div class="date">
              <%= show.date.strftime("%A, %B %e, %Y") %>
            </div>
            <div class="show-city">
              <%= show.city %>
            </div>
            <div class="show-location">
              <%= show.location %>
            </div>
            <div class="show-price">
              <%= show.price %>
            </div>
            <div id="location-image-show-index">
              <%= link_to image_tag(show.image_url), show.venue_url %>
            </div>
            <div class="show-link">
              <%= link_to "Check it out", show.event_url %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>

<div>
<%= console %>
