<!DOCTYPE html>
<html>
  <head>
    <title>Dartboi</title>
    <%= render 'application/favicon' %>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  </head>

  <body>

    <div class="nav-bar">
      <div class="nav-link">
        <%= link_to "Home", root_path %>
      </div>
      <div class="nav-link">
        <%= link_to "Shows", shows_path %>
      </div>
      <div class="nav-link">
        <%= link_to "Music", music_path %>
      </div>
      <div class="nav-link">
        <%= link_to "Contact Us", contact_us_path %>
      </div>
      <div class="nav-link">
        <%= link_to "About", about_path %>
      </div>
    </div>

    <div class="main">
      <%= yield %>
    </div>

    <% if current_user %>
      <footer class="admin-nav">
        <div class="nav-link">
          <%= link_to "New Show", new_show_path %>
        </div>
        <div class="nav-link">
          <%= link_to "Log Out", sessions_path, method: "delete" %>
        </div>
      </footer>
    <% end %>


  </body>
</html>
